<div style="float:left;">
  <form [formGroup]="ezasForm">
    <div *ngFor="let key of getAllControls()" class="form-group">
      <label class="center-block">{{key}}</label>
      <ul class="input-list" [formArrayName]="key">
        <li class="form-control" *ngFor="let q of ezasForm.get(key).controls; let i=index">
          <input [formControlName]="i"/>
          <button (click)="removeField(key, i)">-</button>
        </li>
        <li>
          <button (click)="addField(key)">+</button>
        </li>
      </ul>
    </div>
    <button (click)="back()"><</button>
    <button (click)="save()">Save</button>
    <button (click)="forward()">></button>
  </form>
</div>
<div style="float:right;">
  <h3>Current JSON string:</h3>
  <pre>
  {{ezasForm.getRawValue() | json}}
    </pre>
</div>
